{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@constants": "./src/constants",
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@screens": "./src/screens",
          "@common": "./src/core/common",
          "@redux": "./src/redux",
          "@core": "./src/core",
          "@assets": "./src/assets",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
